body {
    width: 800px;
    border: 20px solid #bdc3c7;
    padding-top: 2.6%;
    padding-left: 2.6%;
    padding-right: 2.6%;
    font-family: 'Source Sans Pro', sans-serif;
}

#primeiro_post {
    margin: 2.6%;
}

#segundo_post {
    margin-top: 2.6%;
    margin-left: 2.6%;
    margin-right: 2.6%;
    margin-bottom: 5.6%; 
}

.date {
    color: #3498db;
    text-transform: uppercase;
}

h2 {
    color: #2c3e50;
}