body {
    width: 80%;
    border: 20px solid #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    color: #2c3e50;
  
}

#primeiro_post {
    margin: 1.6%;
}

#segundo_post {
    margin-top: 1.6%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    margin-bottom: 5.6%; 
}

.primeiro_paragrafo {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}