body {
    width: 80%;
    border: 20px solid #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

#primeiro_post {
    margin: 1.6%;
}

#segundo_post {
    margin-top: 2.6%;
    margin-left: 1.6%;
    margin-right: 1.6%;
    margin-bottom: 5.6%; 
}

.date {
    color: #3498db;
    text-transform: uppercase;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    margin: 20px 0;
}